


.sliders{
  min-width: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
}


.mediaPlayer slider{
  padding:0rem;
  border-radius:1rem;
}
.mediaPlayer trough{
  min-height: 1rem;
}
.buttonGridButton box > * {
  margin: 0.5rem;
}