.workspace {
  min-height: 3rem;
  margin: 0.3rem 0.4rem;  
  border-radius: 2rem;
  min-width: 0rem;
}
.mediaplayerButton{
  margin:1rem;
  border-radius: 2rem;
}
.mediaplayerContents{
  margin:1.5rem;
}

.mediaPlayer button{
  margin: 1rem;
  border-radius: 1.5rem;
  padding: 3rem;
  min-width: 3rem;

}

.bar{
  min-height: 70px;
}
.calendar{
  border-radius: 2rem;
  padding: 2rem;
}
.time{
  padding: 0.5rem 1rem;
}
.menuButton{
  min-height: 4rem;
  min-width: 0.3rem;
  border-radius: 1rem;
  margin: 0.4rem 0.2rem;
  padding: 0.5rem;
}
.workspaces{
  opacity: 1.0;
  min-height: 44rem;
}
.time{
  margin: 0.4rem 0.2rem;
  min-width: 0.3rem;
  min-height: 4rem;
  border-radius: 1rem;
}
.active {
  min-height: 5rem;
}
.buttonGrid{
  margin: 0rem 0rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}
.topBar{
  margin: 1rem;
}
.buttonGrid a{
  background-color: var(--border-color);
  opacity: 1;
}

.buttonGrid button *{
  opacity: 1;
}

.buttonGridButton{
  border-radius: 2rem;
  min-height: 2.5rem;
  margin: 0.5rem;
  padding: 0.8rem;
}

.image{
  border-radius: 1.5rem;
  margin-left: 0.5rem;
}

.powermenu button{
  border-radius : 1rem;
  padding: 0.5rem;
}

.slider slider{
  opacity:0;
}

.slider trough{
  min-height: 1rem;
  min-width: 9rem;
}

.sliders{
  min-width: 10rem;
}
